* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #ebebeb;
  --title-color: #585858;
  --box-shadow: #00000029;
  --text-bar-color: black;
}

.dark-theme {
  --primary-color: black;
  --secondary-color: #16181c;
  --title-color: #e7e9ea;
  --box-shadow: #f7f4f44f;
  --text-bar-color: #fff;
}

body {
  width: 100vw;
  overflow-x: hidden !important;
  background-color: var(--primary-color);
}
header {
  /* border: 2px solid black; */
  height: 70px;
  background-color: #131921;
  display: flex;
}
.left-nav {
  /* border: 2px solid white; */
  width: 22%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-1 {
  /* border: 2px solid yellow; */
  width: 45%;
}
.component-1 img {
  /* width: 100%; */
  height: 50px;
}
.component-2 {
  /* border: 2px solid violet; */
  width: 35%;
  height: 60px;
  margin-left: 5px;
}
.color-change {
  color: white;
}

.deliver {
  font-size: 13px;
  font-weight: 400;
}
.location {
  font-size: 14px;
  font-weight: 700;
}

.center-nav {
  /* border: 2px solid lightgreen; */
  width: 45%;
  height: 50px;
  margin: auto 0px;
  display: flex;
  align-items: center;
}

.info-section {
  /* border: 2px solid yellow; */
  display: flex;
}
#drp-all {
  width: 30%;
  height: 50px;
  text-align: center;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
}
.search-content {
  display: flex;
  position: absolute;
  margin-left: 59px;
}
#search-box {
  width: 32vw;
  text-align: center;
}
#search-tool {
  background-color: #febd69;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
.right-nav {
  /* border: 1px solid white; */
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}
.flag-dropdown {
  /* border: 1px solid lightblue; */
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flag-dropdown img {
  height: 40px;
}

.sign-in {
  /* border: 1px solid lightcoral; */
  width: 32%;
  height: 50px;
  padding: 9px 0px;
}
.line-1 {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
  color: #fff;
  margin-left: 3%;
}
.line-2 {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  color: #fff;
  margin-left: 3%;
}

.mobile-signin {
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-opt {
  /* border: 1px solid lightgreen; */
  width: 28%;
  height: 50px;
}
.text-container {
  margin-left: 20%;
  margin-top: 9%;
}
.text-1 {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
  color: #fff;
}
.text-2 {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  color: #fff;
}
.cart {
  /* border: 1px solid lightsalmon; */
  width: 18%;
  height: 50px;
}
.word-cart {
  margin-top: 10px;
  margin-left: 2%;
}

#theme {
  width: 30px;
  cursor: pointer;
}
/* ..........coupon-code............. */

#coupon-div {
  width: 100%;
  /* border: 2px solid yellow; */
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  background: rgba(0, 0, 0, 0.562);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.inner-div {
  width: 60%;
  /* height: 84%; */
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
}
.inner-div .coupon {
  width: 50%;
  /* height: 100%; */
  position: relative;
  /* border: 1px solid #ffffff; */
}
#popupClose {
  position: absolute;
  right: 2%;
  top: 1%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.coupon img {
  width: 100%;
  box-shadow: 3px 3px 12px #bbbbbb, -3px -3px 10px #65656567;
}

/* ..........coupon-code-end............. */

/* Bar below the navigation bar named sub-navbar */
#sub-navbar {
  display: block;
  max-width: 100%;
  background-color: #232f3e;
  /* overflow-x: auto; */
  padding: 6px 0px;
  max-height: 50px;
  overflow-x: auto;
}

#sub-navbar::-webkit-scrollbar {
  width: 0px;
}
#sub-navbar ul {
  display: flex;
  margin-bottom: 5px;
}
#sub-navbar ul li {
  list-style-type: none;
}
#sub-navbar ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
  font-weight: 500;
  font-size: 18px;
  margin-right: 20px;
}

.mid-bar {
  /* max-height: 40px; */
  /* border: 2px solid black; */
  background-color: var(--secondary-color);
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-bar-color);
}
.text-bar a {
  text-decoration: none;
  color: #007185;
}
.text-bar a:hover {
  color: blue;
  text-decoration: underline;
}

/* Main content available in this section */

#main {
  /* border: 2px solid red; */
  background-color: var(--secondary-color);
}
.title {
  margin-left: 2%;
  margin-top: 2%;
  font-weight: 700;
  font-size: 26px;
  color: var(--title-color);
}
.product-box {
  width: 46%;
  height: 250px;
  /* border: 2px solid darkblue; */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px var(--box-shadow);
  opacity: 1;
  display: inline-block;
  margin-left: 2%;
  margin-top: 2%;
  background-color: #fff;
}

.product-comp-1 {
  width: 58%;
  height: 250px;
  float: left;
}
.product-comp-1 img {
  width: 100%;
  height: 100%;
}
.product-comp-2 {
  width: 35%;
  height: 250px;
  float: left;
  margin-top: 12%;
  margin-left: 4%;
}

.product-name {
  font-size: 26px;
  font-weight: 700;
}
.product-review {
  color: grey;
  font-weight: 500;
  font-size: 18px;
}
.product-price {
  font-size: 24px;
  font-weight: 600;
}

/* end of main section  */

/* weather api ------------------*/

#weatherCard {
  width: 50%;
  margin-top: 1.5%;
  padding: 1.5% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  background: var(--secondary-color);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.514);
}

#weatherCardTitle {
  background: #232f3e;
  width: 100%;
  text-align: center;
  padding: 0.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

#weatherCardbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}
#weatherIcon {
  background: rgb(204 204 204);
  border-radius: 1rem;
}

#weatherLocation {
  font-weight: bold;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#weatherdata {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
#weatherDescription {
  font-weight: 500;
}

#weatherCardFooter {
  border-top: 2px dotted black;
  padding-top: 2%;
}
/* weather api---End */

/* Horizontal scroll section */
.heading {
  position: absolute;
  font-weight: 700;
  font-size: 22px;
  color: var(--title-color);
  display: block;
  left: 12px;
  top: 5px;
}

.image-container {
  width: 90%;
  height: 350px;
  /* border: 2px solid yellow; */
  margin: auto;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--secondary-color);
  margin-top: 3%;
}
.slide-container {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 20s linear infinite;
  /* border: 2px solid blue; */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(calc(-250px * 9));
  }
}
.slide-image {
  width: 270px;
  height: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  /* border: 2px solid brown; */
  perspective: 100px;
}
.slide-image img {
  width: 100%;
  height: 100%;
  transition: transform 1s;
}
.slide-image img:hover {
  transform: translateZ(20px);
}

/* Footer section......... */
footer {
  height: 380px;
}

/* MEDIA QUERIES........ */

@media only screen and (min-width: 1212px) {
  /* body {
    background-color: #ebebeb;
  } */

  .sign-in .mobile-signin {
    display: none;
  }
}
@media only screen and (max-width: 1212px) {
  /* body {
    background-color: #febd69;
  } */
  header {
    height: 170px;
  }
  .left-nav {
    margin-top: 50px;
  }
  .left-nav .component-2 {
    display: none;
  }
  .component-1 {
    width: 53%;
  }
  .right-nav {
    justify-content: center;
    height: 50px;
    /* width: 25%; */
    margin-right: 0%;
    margin-top: 60px;
  }
  .flag-dropdown {
    width: 20%;
  }
  .sign-in {
    width: 20%;
  }
  .sign-in .line-1 {
    display: none;
  }
  .sign-in .line-2 {
    display: none;
  }
  .right-nav .right-opt {
    display: none;
  }
  .right-nav .cart {
    width: 20%;
  }
  .right-nav .cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-nav .change-theme {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid yellow; */
  }
}

@media only screen and (max-width: 1080px) {
  /* body {
    background-color: cadetblue;
  } */

  header {
    height: 180px;
  }

  .left-nav {
    height: 55px;
    width: 100%;
    /* position: absolute;
    left: 390px;
    margin-top: 0px; */
    margin: 0 auto;
  }
  .left-nav .component-1 {
    width: 60%;
  }
  .component-1 img {
    display: block;
    margin: auto;
  }

  .center-nav {
    position: absolute;
    margin-top: 57px;
    margin-left: 7%;
    width: 80vw;
  }
  .center-nav #search-box {
    width: 65vw;
  }

  .right-nav {
    position: absolute;
    margin-left: 330px;
    margin-top: 116px;
  }

  .product-box {
    width: 80%;

    margin-left: 10%;
  }
  .product-comp-2 {
    margin-top: 7%;
  }
}

@media only screen and (max-width: 815px) {
  /* body {
    background-color: coral;
  } */
  .center-nav {
    margin-left: 7%;
    width: 90vw;
  }
  .center-nav #search-box {
    width: 62vw;
  }

  .right-nav {
    position: absolute;
    margin-left: 0px;
    /* margin-top: 125px; */
    width: 100%;
  }
  .inner-div .coupon {
    width: 100%;
    position: relative;
  }
  .inner-div {
    margin-top: 6%;
  }

  #weatherCard {
    width: 85%;
  }
}

@media only screen and (max-width: 550px) {
  /* body {
    background-color: chartreuse;
  } */
  .info-section .dropdown {
    display: inline-block;
  }
  .center-nav {
    display: block;
    width: 100%;
    margin: 0%;
    text-align: center;
    margin-top: 62px;
  }

  .info-section {
    width: 360px;
    display: flex;
  }
  .info-section .dropdown {
    display: none;
  }
  .product-box {
    width: 95%;
    margin-left: 2%;
  }
  .product-comp-2 {
    margin-top: 9%;
  }
}
